body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 10px;
    text-decoration: none;
}
main {
    background-color: aquamarine;
    color: black;
    margin: 10px 20px 45px;
    font-family: Arial;
}
footer {
    background-color: azure;
    color: black;
    margin: 10px;
    font-family: Arial
}
a {
    text-decoration: none;
    color:green;
    transition: 1s 2s;
}
a:link {
    color: green;
    text-decoration-line: underline;
    background-color: brown;
}
a:visited {
    color: indigo;
    background-color:cadetblue;
    text-decoration-line:line-through;
}
a:hover {
    color: red;
    text-decoration: underline;
    background-color: darkgray;
    transition: 0.3s;
}
a:active {
    color: black;
    opacity: 0.3;
}
div.menu {
    border: 7px solid #00880080;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
}
div.menu:hover {
    background-color:burlywood;
    box-shadow: 10px 10px #ff00aa30;
    
}
footer {
    background-color: black;
    color: lightgreen;
    padding: 10px;
    font-size: 16pt;
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}