body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 10px;
    text-decoration: none;
}
main {
    background-color: aquamarine;
    color: black;
    margin: 5px;
    font-family: Arial;
}
footer {
    background-color: azure;
    color: black;
    margin: 10px;
    font-family: Arial
}
a {
    text-decoration: none;
}